 html {
    background: blue
}

.menu {
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    border-radius: 10px;
    padding: 50px;
    /* text-align: center; */
    text-align: center;
}

button {
    margin: 5px;
    color: #fff;
}

.btn-easy {
    background: rgb(2, 177, 2);
}
.btn-medium {
    background: rgb(201, 201, 7);
}
.btn-hard {
    background: red;
}